<main class="main text-center">
    <div class="header-content">
        <img src="assets/profile.jpg" alt="Profile Image" srcset="" class="profile-img">
        <h1 class="header-title">Welcome! This is Achinta <span class="header-subtitle">MITRA</span></h1>
        <ngx-typed-js [strings]="roles" [shuffle]="false" [backDelay]="60" [typeSpeed]="60" [backSpeed]="60" [loop]="true" class="auto-typing">
            I'm a <span class="typing"></span>
        </ngx-typed-js>
        <ul class="social-link-ul">
            <li class="social-link"><a href="https://www.facebook.com/achinta.mitra.3/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="social-link"><a href="https://www.linkedin.com/in/achinta-mitra-4b6483171/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li class="social-link"><a href="https://github.com/AchintaMitra23" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li class="social-link"><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li class="social-link"><a href="https://twitter.com/achinta_mitra23" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <div class="resume-section">
            <a href="assets/Achinta_Mitra_Resume.pdf" class="download text-light fw-medium" download>
                <i class="fa-solid fa-hand-point-up fa-shake" style="color: blanchedalmond;"></i> Download Resume</a>
        </div>
    </div>
</main>
